MonoBleedingEdge/
valheim_Data/
steam_appid.txt
UnityCrashHandler64.exe
UnityPlayer.dll
valheim.exe
BepInEx/cache/
BepInEx/LogOutput.log
BepInEx/plugins/vortex.deployment.json
BepInEx/vortex.deployment.bepinex-root-mod.json
